        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #e9ecef;
        }
        .email-container {
            max-width: 650px;
            margin: 40px auto;
            background-color:white;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            position: relative;
        }
        .hero {
            height: 300px;
            background-image: url('https://static.vecteezy.com/system/resources/previews/008/715/514/non_2x/wallpaper-with-blue-button-sending-email-concept-3d-background-with-copy-space-vector.jpg');
            background-size: cover;
            border-radius: 8px 8px 0 0;
        }
        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* background-color: rgba(0, 0, 0, 0.5); */
            border-radius: 8px 8px 0 0;
        }
        .hero-content {
            position: absolute;
            bottom: 60%;
            right: -4%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #ffffff;
        }
        .hero-content h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }
        .hero-content p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .main {
            padding: 30px;
        }
        .main h2 {
            color: #007bff;
            font-size: 24px;
            margin-bottom: 10px;
        }
        .main p {
            color: #555555;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        .button {
            display: block;
            padding: 12px 24px;
            margin: 0 auto;
            background-color: #007bff;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
        }
        .footer {
            background-color: #f8f9fa;
            color: #6c757d;
            padding: 20px;
            text-align: center;
        }
        .footer a {
            color: #007bff;
            text-decoration: none;
            margin: 0 10px;
        }